name: CI

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "!main"

jobs:
  ci:
    name: Continuous Integration

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18, 21]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Build & Test
        run: |
          pnpm run test
          pnpm run build
